{% extends "settings/settings.html" %}
{% block settings %}
    {% has_perm "duplicates.view_duplicaterule" as can_view_duplicate_rules %}
    {% if can_view_duplicate_rules %}
        <div id="duplicate-rule-view">
            <div id="navBar" hx-get="{{ nav_url}}?{{request.GET.urlencode}}" hx-trigger="load"></div>
            <div id="mainSession" hx-get="{{ list_url }}?{{request.GET.urlencode}}" hx-trigger="load"></div>
        </div>
    {% else %}
        {% include "403.html" %}
    {% endif %}
{% endblock %}
