{% extends "settings/settings.html" %}
{% block settings %}
    {% has_perm "duplicates.view_matchingrule" as can_view_matching_rules %}
    {% if can_view_matching_rules %}
        <div id="matching-rule-view">
            <button
                id="reloadButton"
                hx-get="{{ request.path }}?{{request.GET.urlencode}}"
                hx-target="#matching-rule-view"
                hx-swap="outerHTML"
                hx-select="#matching-rule-view"
                hidden
            >
                click
            </button>
            <div id="navBar" hx-get="{{ nav_url}}?{{request.GET.urlencode}}" hx-trigger="load"></div>
            <div id="mainSession" hx-get="{{ list_url }}?{{request.GET.urlencode}}" hx-trigger="load"></div>
        </div>
    {% else %}
        {% include "403.html" %}
    {% endif %}
{% endblock %}
