<div class="stage-item bg-[#efefef96] rounded-md px-3 py-2 flex gap-2 justify-between items-center mb-2 w-full">
    <div class="flex gap-2 items-center w-full">
        <div class="cursor-move drag-handle">
            <img src="{% static 'assets/icons/drag.svg' %}" alt="{% trans 'Drag' %}" width="16">
        </div>
        <div class="w-[60%]">
            <input
                type="text"
                name="stage_name_custom[]"
                value="{{ stage.name }}"
                class="w-full border border-[#efefef] rounded-md px-2 py-1"
            >
        </div>
        <div class="w-20">
            <input
                type="number"
                name="stage_order_custom[]"
                value="{{ stage.order }}"
                class="w-full border border-[#efefef] rounded-md px-2 py-1"
            >
        </div>
        <div class="w-20">
            <input
                type="number"
                name="stage_probability_custom[]"
                value="{{ stage.probability }}"
                class="w-full border border-[#efefef] rounded-md px-2 py-1"
            >
        </div>
        <div class="flex items-center w-50">
            <span class="w-full">
                <input
                    type="checkbox"
                    id="stage-final-{{ stage_index }}"
                    name="stage_is_final_custom[]"
                    value="{{ stage_index }}"
                    {% if stage.is_final %}
                        checked
                    {% endif %}
                    class="w-4 h-4 border border-[#cfcfcf] rounded-sm accent-[#e54f38] mr-2"
                >
                <label for="stage-final-{{ stage_index }}" class="cursor-pointer text-sm">{% trans "Final" %}</label>
            </span>
        </div>
        <div>
            <button
                type="button"
                class="remove-stage-btn"
                hx-post="{% url 'leads:remove_stage' company.id %}"
                hx-target="#custom-stage-collapse"
                hx-swap="innerHTML"
                hx-include="closest form"
                hx-vals='js:{"remove_index": Array.from(event.target.closest("form").querySelectorAll(".stage-item")).indexOf(event.target.closest(".stage-item"))}'
            >
                <img src="{% static 'assets/icons/close.svg' %}" alt="{% trans 'Close' %}" width="10">
            </button>
        </div>
    </div>
</div>
