{% extends "login.html" %}
<!-- FORGOT PASSWORD -->
{% block login %}
    <div id="sec2" class="bg-white p-[50px] rounded-md shadow w-[450px]">
        {% include "messages.html" %}
        <img src="{% static LOGO_PATH %}" alt="{% trans 'Logo' %}" class="m-auto mb-4">
        <h1 class="text-3xl font-bold mb-3 text-center">{% trans "Forgot Password?" %}</h1>

        <form
            hx-post="{% url 'core:forgot_password' %}"
            hx-target="#sec2"
            hx-select="#sec2"
            hx-push-url="{% url 'core:login' %}"
            hx-swap="outerHTML"
            hx-indicator="#submit-indicator"
        >
            {% csrf_token %}
            <div class="mb-3">
                <label for="email" class="text-sm text-color-600">{% trans "Username or Email" %}</label>
                <input
                    id="email"
                    type="text"
                    name="email"
                    placeholder="{% trans 'Enter your email or username' %}"
                    autocomplete="off"
                    value="{{ email_or_username|default:'' }}"
                    required
                    class="text-color-600 w-full border border-dark-50 rounded-md p-3 mt-1 placeholder:text-dark-100 text-sm focus:border-primary-600 focus-visible:outline-0"
                >
            </div>

            <button
                type="submit"
                class="p-3 bg-primary-600 hover:bg-secondary-600 w-full flex gap-3 justify-center rounded-md text-white transition duration-300"
            >
                <img src="{% static 'assets/icons/sign.svg' %}" alt="{% trans 'arrow' %}">
                <span>{% trans "Send reset link" %}</span>
                <span id="submit-indicator" class="htmx-indicator">
                    <img src="{% static 'assets/icons/spinner.svg' %}" alt="{% trans 'Loading...' %}" width="25">
                </span>
            </button>
        </form>

        <p class="text-[#FF6A53] text-xs text-center mt-4 font-medium">
            {% trans " Reset link will be sent to your registered email" %}
        </p>

        <div class="text-center mt-4">
            <button
                hx-get="{% url 'core:login' %}"
                hx-target="#sec2"
                hx-select="#sec1"
                hx-swap="outerHTML"
                hx-push-url="true"
                class="text-sm text-primary-600 hover:underline cursor-pointer"
            >
                {% trans "Back to login" %}
            </button>
        </div>
    </div>
{% endblock login %}
