{% if instance.error_file_path %}
    <a
        href="{% url 'core:download_error_file' %}?file_path={{ instance.error_file_path|urlencode }}"
        class="flex items-center text-primary-600 hover:underline"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4 mr-1"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 16v2a2 2 0 002 2h12a2 2 0 002-2v-2M7 10l5 5m0 0l5-5m-5 5V4"
            />
        </svg>
        {% trans "Download" %}
    </a>
{% endif %}
