{% extends "settings/settings.html" %}
{% block settings %}
    {% has_perm "core.can_view_horilla_import" as view_horilla_import %}
    {% if view_horilla_import %}
        <div id="import-view">
            <div class="flex justify-between items-center mb-2">
                <h3 class="text-md font-semibold">{% trans 'Import Wizard' %}</h3>
            </div>

            <div
                hx-push-url="false"
                hx-get="{% url 'core:import_tab_view' %}?{{request.GET.urlencode}}"
                hx-trigger="load"
            >
            </div>
        </div>
    {% else %}
        {% include "403.html" with embed=True %}
    {% endif %}
{% endblock %}
