{% extends "settings/my_settings.html" %}
{% block my_settings %}
    <div id="change-password-view">
        {% include "messages.html" %}
        <button
            id="reloadButton"
            hidden
            hx-get="{{ request.path }}?{{request.GET.urlencode}}"
            hx-target="#change-password-view"
            hx-trigger="click"
            hx-swap="outerHTML"
            hx-select="#change-password-view"
        >
            click
        </button>

        <h3 class="text-md font-semibold mb-4">{% trans "Password Management" %}</h3>

        <div class="bg-[#f1f1f1] p-4 rounded-md mb-3">
            <div class="flex items-center justify-between">
                <h3 class="text-md font-semibold">{% trans "Password" %}</h3>
                <div>
                    <button
                        hx-get="{% url 'core:change_password_form' %}?{{request.GET.urlencode}}"
                        hx-target="#modalBox"
                        hx-on:click="openModal()"
                        class="text-xs px-4 py-2 bg-primary-600 rounded-md hover:bg-primary-800 text-white border"
                    >
                        {% trans "Change Password" %}
                    </button>
                </div>
            </div>
            <p class="text-sm mt-2">{% trans "Last Updated" %} {{ last_updated }}</p>
        </div>
    </div>
{% endblock %}
