{% extends "settings/settings.html" %}
{% block settings %}
    {% has_perm "core.view_company" as can_view_company %}

    {% if can_view_company %}
        <div id="company-information">
            {% include "messages.html" %}
            {% if not has_company %}
                <div class="flex justify-between items-center h-20"></div>
                <img
                    src="{% static 'assets/img/activate-company.svg' %}"
                    alt="{% trans 'Activate company' %}"
                    class="w-60 m-auto mb-4 mt-5"
                >
                <p class="text-sm text-center mb-3">
                    {% trans "Please create or activate your company." %}
                </p>
            {% else %}
                <div class="flex justify-between items-center mb-2">
                    <h3 class="text-md font-semibold">{% trans 'Company Information' %}</h3>
                </div>
                <div
                    hx-push-url="false"
                    hx-get="{% url 'core:company_tab_view' %}?{{request.GET.urlencode}}"
                    hx-trigger="load"
                >
                </div>
            {% endif %}
        </div>
    {% else %}
        {% include "403.html" with embed=True %}
    {% endif %}
{% endblock %}
