<input
    type="number"
    name="conversion_rate"
    step="0.0001"
    class="text-color-600 p-2 placeholder:text-xs pr-[40px] w-full border border-dark-50 rounded-md mt-1 focus-visible:outline-0 placeholder:text-dark-100 text-sm [transition:.3s] focus:border-primary-600"
    placeholder="{% trans 'Enter Conversion Rate' %}"
    data_show_conversion_indicator="true"
    data_indicator_text="Fetching conversion rate..."
    required
    aria-describedby="id_conversion_rate_helptext"
    id="id_conversion_rate"
    value="{{ value }}"
>
