<button
    id="reloadHolidayButton"
    hidden
    hx-get="{% url 'core:holiday_view' %}?{{ request.GET.urlencode }}"
    hx-target="#inner-tab-holidays-view-content"
    hx-swap="innerHTML"
>
    reload
</button>
<div class="flex flex-wrap justify-between items-center h-14">
    <h3 class="text-md font-semibold">{% trans 'Holidays' %}</h3>
    {% has_perm "core.add_holiday" as can_add_holiday %}
    {% if can_add_holiday %}
        <button
            id="toggleFiscalBtn"
            class="text-sm px-4 py-2 bg-primary-600 rounded-md hover:bg-primary-800 transition duration-300 text-[white]"
            hx-get="{% url 'core:holiday_create_form' %}"
            hx-target="#modalBox"
            hx-swap="innerHTML"
            onclick="openModal()"
        >
            {% trans 'Add Holidays' %}
        </button>
    {% endif %}
</div>
<div id="mainSession" hx-get="{% url 'core:holiday_list_view' %}" hx-trigger="load"></div>
