[MESSAGES CONTROL]
disable = too-few-public-methods,protected-access,no-member,broad-exception-caught,import-outside-toplevel,invalid-name,unused-argument,too-many-ancestors,attribute-defined-outside-init
