amqp
APScheduler
asgiref
attrs
autobahn
Automat
babel
billiard
bleach
cbor2
celery
certifi
cffi
channels
channels_redis
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
constantly
cron_descriptor
cryptography
daphne
dj-user-login-history
Django
django-auditlog
django-colorfield
django-countries
django-environ
django-filter
django-money
django-multiselectfield
django-summernote
django-timezone-field
djangorestframework
djangorestframework_simplejwt
dnspython
drf-yasg
et_xmlfile
exceptiongroup
hyperlink
idna
Incremental
inflection
kombu
msgpack
numpy
oauthlib
openpyxl
packaging
pandas
phonenumbers
pillow
prompt_toolkit
py-moneyed
py-ubjson
pyasn1
pyasn1_modules
pycountry
pycparser
PyJWT
pyOpenSSL
python-crontab
python-dateutil
pytz
PyYAML
redis==7.1.0
reportlab
requests
requests-oauthlib
service-identity
setuptools
six
sqlparse
tinycss2
Twisted
txaio
typing_extensions
tzdata
tzlocal
ujson
uritemplate
urllib3
vine
wcwidth
webencodings
whitenoise
zope.interface
user-agents
