{% extends "settings/settings.html" %}
{% block settings %}
    {% has_perm "mail.view_horillamailtemplate" as can_view_mail_template %}
    {% if can_view_mail_template %}
        <div id="mail-template-view">
            <div id="navBar" hx-get="{{ nav_url}}?{{request.GET.urlencode}}" hx-trigger="load"></div>
            <div
                id="mainSession"
                class="pt-3"
                hx-get="{% if request.GET.kanban == 'true' %}{{ kanban_url }}?{{ request.GET.urlencode}}{% if filter_form %}&hx_trigger={{filter_form}}{% endif %}{% else %}{{ list_url }}?{{ request.GET.urlencode}}{% if filter_form %}&hx_trigger={{filter_form}}{% endif %}{% endif%}"
                hx-trigger="load"
            >
            </div>
        </div>
    {% else %}
        {% include "403.html" with embed=True %}
    {% endif %}
{% endblock %}
