<div id="tab-tasks" class="tab-content block text-sm">
    <div class="flex justify-between gap-5 items-center bg-white z-30 xl:sticky xl:top-0 w-full">
        <h3 class="text-base font-semibold">
            {{ role.role_name }}
        </h3>
        <div class="flex items-center gap-6">
            <ul id="followup-tabs" class="flex gap-2 text-sm font-normal text-gray-500 dark:text-gray-400">
                <li>
                    <a
                        id="permissiontab"
                        href="{% url 'core:role_permissions_view' role.id %}"
                        data-tab="tab-fu-open"
                        class="fu-tab-btn inline-flex items-center px-3 py-1 text-white bg-primary-600 rounded-sm w-full text-xs"
                        hx-get="{% url 'core:role_permissions_view' role.id %}"
                        hx-target="#followup-contents"
                        hx-select="#followup-contents"
                        hx-indicator="#roleTabLoader"
                        hx-swap="outerHTML"
                    >
                        {% trans "Permissions" %}
                    </a>
                </li>
                <li>
                    <a
                        id="membertab"
                        href="{% url 'core:role_members_view' role.id  %}"
                        data-tab="tab-fu-closed"
                        class="fu-tab-btn inline-flex items-center px-3 py-1 rounded-sm bg-primary-200 text-primary-600 w-full text-xs"
                        hx-get="{% url 'core:role_members_view' role.id %}"
                        hx-target="#followup-contents"
                        hx-indicator="#roleTabLoader"
                        hx-swap="innerHTML"
                    >
                        {% trans "Members" %}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div id="roleTabLoader" class="htmx-indicator absolute inset-0 bg-white/60 z-50 flex items-center justify-center">
        <div class="animate-spin rounded-full h-8 w-8 border-t-2 border-b-2 border-[#e54f38]"></div>
    </div>

    <div id="followup-contents" class="h-[calc(_100vh_-_390px_)] pt-2">
        <div
            id="tab-fu-open"
            class="fu-tab-content block text-[.8rem] border-[1px] border-[solid] border-[#efefef] rounded-md bg-white"
        >
            <div class="bg-primary-300 px-4 py-3">
                <div class="flex gap-4 items-center justify-between">
                    <div class="flex items-center">
                        <input
                            type="text"
                            class="text-color-600 px-2 py-1.5 pr-[40px] pw-full border border-dark-50 rounded-md focus-visible:outline-0 placeholder:text-[#d3d3d3] placeholder:text-xs text-sm [transition:.3s] focus:border-primary-600"
                            placeholder="{% trans 'Search models...' %}"
                            hx-get="{% url 'core:search_role_models' role.id %}"
                            hx-trigger="input changed delay:500ms"
                            hx-target="#role-model-container"
                            hx-swap="innerHTML"
                            name="search"
                            value="{{ search_query }}"
                        >
                    </div>

                    <div class="flex items-center font-semibold text-primary-600">
                        <input
                            type="checkbox"
                            id="master-select-all"
                            class="model-select-all w-4 h-4 border border-[#cfcfcf] rounded-sm accent-[#e54f38] mr-2"
                            {% if master_select_all_checked %}
                                checked
                            {% endif %}
                            hx-post="{% url 'core:update_role_all_permissions' role.id %}"
                            hx-trigger="change"
                            hx-vals='js:{"checked": event.target.checked}'
                            hx-on::after-request="toggleAllChecked(this)"
                            hx-swap="none"
                        >
                        {% trans "Select All" %}
                    </div>
                </div>
            </div>

            <div id="role-model-container" class="max-h-[calc(_100vh_-_500px_)] overflow-y-auto overflow-x-auto">
                {% for model in all_models %}
                    <div class="border-[1px] border-[solid] border-[#efefef] last:border-b-0 px-4 py-2">
                        <div class="flex gap-4 permItem">
                            <div class="w-[14rem] flex items-center">
                                <label class="flex items-center">
                                    <input
                                        type="checkbox"
                                        class="model-select-all w-4 h-4 bg-[#E9EDF7] rounded-sm accent-[#e54f38] mr-2"
                                        {% if model.select_all_checked %}
                                            checked
                                        {% endif %}
                                        hx-post="{% url 'core:update_role_model_permissions' role.id %}"
                                        hx-trigger="change"
                                        hx-vals='js:{"model_name": "{{ model.model_name }}", "app_label": "{{ model.app_label }}", "checked": event.target.checked}'
                                        hx-on::after-request="$('#reloadMessagesButton').click();toggleChecked($(this));"
                                        hx-swap="none"
                                    >
                                </label>
                                {% if model.is_managed %}
                                    <button
                                        class="whitespace-nowrap text-left hover:text-primary-600"
                                        hx-get="{% url 'core:model_fields_modal_role' role.id model.app_label model.model_name %}"
                                        hx-target="#modalBox"
                                        hx-swap="innerHTML"
                                        onclick="openModal()"
                                    >
                                        {% trans model.verbose_name %}
                                    </button>
                                {% else %}
                                    <div
                                        class="inline-block cursor-pointer whitespace-nowrap text-black"
                                        title="{% trans 'Field permissions not available for this model' %}"
                                        aria-label="{% trans 'Field permissions not available for this model' %}"
                                    >
                                        {% trans model.verbose_name %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-x-4 gap-y-3 sm:gap-x-6 lg:gap-x-8 text-xs text-dark-300 w-[calc(100%-15rem)] px-4 sm:px-0">
                                {% for perm in model.permissions %}
                                    <label class="flex items-center whitespace-nowrap">
                                        <input
                                            type="checkbox"
                                            name="permissions"
                                            value="{{ perm.id }}"
                                            class="individual-perm w-4 h-4 border border-[#cfcfcf] rounded-sm accent-[#e54f38] mr-2"
                                            {% if perm.has_perm %}
                                                checked
                                            {% endif %}
                                            hx-post="{% url 'core:update_role_permissions' role.id %}"
                                            hx-trigger="change"
                                            hx-vals='js:{"permission_id": "{{ perm.id }}", "checked": event.target.checked}'
                                            hx-swap="innerHTML"
                                        >
                                        {% trans perm.label %}
                                    </label>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
    function toggleChecked($elm) {
        var is_checked = $elm.is(':checked');
        $elm.closest('.permItem').find('.individual-perm').prop('checked', is_checked);
    }
    function toggleAllChecked(el) {
        var $elm = $(el);
        var is_checked = $elm.is(':checked');

        $('#followup-contents').find('.model-select-all, .individual-perm').prop('checked', is_checked);
    }

    $(document).ready(function () {
        const tabButtons = document.querySelectorAll(".fu-tab-btn");
        tabButtons.forEach((btn) => {
            btn.addEventListener("click", (e) => {
                e.preventDefault();

                tabButtons.forEach((b) => {
                    b.classList.remove("bg-primary-600", "text-white");
                    b.classList.add("bg-primary-200", "text-primary-600");
                });

                btn.classList.remove("bg-primary-200", "text-primary-600");
                btn.classList.add("bg-primary-600", "text-white");
            });
        });
    });
</script>
