{% extends "settings/settings.html" %}
{% block settings %}
    <div id="permission-view">
        <div class="mb-4">
            <div class="flex justify-between items-center mb-2">
                <h3 class="text-md font-semibold">
                    {% trans "Roles and Permissions" %}
                </h3>
            </div>
        </div>
        <div
            hx-push-url="false"
            hx-get="{% url 'core:role_permission_tab' %}?{{request.GET.urlencode}}"
            hx-trigger="load"
        >
        </div>
    </div>
{% endblock %}
