<div class="flex rounded-md overflow-hidden">
    {% has_perm "mail.view_horillamailconfiguration" as can_view_horillamailconfiguration %}
    {% has_perm "mail.change_horillamailconfiguration" as can_change_horillamailconfiguration %}
    {% has_perm "mail.delete_horillamailconfiguration" as can_delete_horillamailconfiguration %}

    {% if can_view_horillamailconfiguration %}
        {% if instance.type == 'outlook' %}
            <button
                hx-get="{% url 'mail:outlook_refresh_token' instance.id %}"
                hx-trigger="click"
                hx-swap="none"
                title="{% trans 'Refresh Token' %}"
                class="w-10 h-7 bg-dark-25 flex justify-center border-r border-r-[white] hover:bg-dark-50 items-center"
            >
                <img src="{% static 'assets/icons/refresh_black.svg' %}" width="17">
            </button>
            <!-- Login -->
            <button
                class="w-10 h-7 bg-dark-25 flex-1 flex justify-center border-r border-r-[white] hover:bg-dark-50 transition duration-300 items-center"
                title="{% trans 'Login' %}"
                onclick="window.location.href='{% url 'mail:outlook_mail_server_login' instance.id %}'"
            >
                <img src="{% static 'assets/icons/login.svg' %}" alt="{% trans 'Login' %}" width="17">
            </button>
        {% endif %}
        {% if  instance.mail_channel == 'outgoing' %}
            <button
                class="w-10 h-7 bg-dark-25 flex-1 flex justify-center border-r border-r-[white] hover:bg-dark-50 transition duration-300 items-center"
                title="{% trans 'Send Test Mail' %}"
                hx-get="{% url 'mail:send_test_email_view'  %}?instance_id={{instance.id}}&{{ request.GET.urlencode}}"
                hx-target="#modalBox"
                hx-on:click="openModal()"
                hx-swap="innerHTML"
            >
                <img src="{% static 'assets/icons/outgoing.svg' %}" alt="{% trans 'Outgoing' %}" width="17">
            </button>
        {% endif %}
    {% endif %}
    {% if can_change_horillamailconfiguration %}
        <button
            class="w-10 h-7 bg-dark-25 flex-1 flex justify-center border-r border-r-[white] hover:bg-dark-50 transition duration-300 items-center"
            title="{% trans 'Edit' %}"
            {% if instance.type == 'mail' %}
                {% if instance.mail_channel == 'outgoing' %}
                    hx-get='{% url "mail:mail_server_update_view" instance.id  %}?{{ request.GET.urlencode}}'
                {% else %}
                    hx-get='{% url "mail:incoming_mail_server_update_view" instance.id  %}?{{ request.GET.urlencode}}'
                {% endif %}
            {% else %}
                hx-get='{% url "mail:outlook_mail_server_update_view" instance.id  %}?{{ request.GET.urlencode}}'
            {% endif %}
            hx-target="#modalBox"
            hx-on:click="openModal()"
            hx-swap="innerHTML"
        >
            <img src="{% static 'assets/icons/edit.svg' %}" alt="{% trans 'Edit' %}" width="17">
        </button>
    {% endif %}
    {% if can_delete_horillamailconfiguration %}
        <button
            class="w-10 h-7 bg-dark-25 flex-1 flex justify-center border-r border-r-[white] hover:bg-dark-50 transition duration-300 items-center"
            title="{% trans 'Delete' %}"
            hx-get='{% url "mail:mail_server_delete_view" instance.id  %}?{{ request.GET.urlencode}}'
            hx-target="#deleteModeBox"
            hx-vals='{"check_dependencies": "true"}'
            hx-on:click="openDeleteModeModal()"
            hx-swap="innerHTML"
        >
            <img src="{% static 'assets/icons/a4.svg' %}" alt="{% trans 'Delete' %}" width="17">
        </button>
    {% endif %}
</div>
