<div id="add-quick-filter-container" class="relative bg-white rounded-lg shadow-sm">
    <form
        id="add-quick-filter-form"
        hx-post="{{ search_url }}"
        hx-vals='{"action": "add_quick_filter"}'
        hx-target="#quick-filters-bar-{{ view_id|safe }}"
        hx-select="#quick-filters-bar-{{ view_id|safe }}"
        hx-select-oob="#{{ main_session_id|default:'mainSession' }}"
        hx-swap="outerHTML"
        hx-indicator="#add-quick-filter-spinner"
        hx-on::after-request="if(event.detail.successful) { closeModal(); }"
    >
        {% csrf_token %}

        <div class="p-5 pb-1">
            <div class="flex justify-between items-center mb-2">
                <h2 class="text-md font-semibold">{% trans 'Add Quick Filter' %}</h2>
                <button
                    type="button"
                    onclick="closeModal()"
                    class="text-gray-500 hover:text-red-500 text-xl cursor-pointer"
                >
                    <img src="{% static 'assets/icons/close.svg' %}" alt="{% trans 'Close' %}">
                </button>
            </div>

            {% if error_message %}
                <div class="bg-red-50 text-red-500 px-4 py-3 rounded-lg text-xs mb-4">
                    {{ error_message }}
                </div>
            {% endif %}

            <div class="overflow-hidden overflow-y-auto pe-2 custom-scroll">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-3">
                    <div id="field_name_container" class="flex flex-col col-span-2">
                        <div class="flex justify-between items-center mb-1 w-full">
                            <label for="field_name" class="text-xs text-color-600">
                                {% trans 'Select Fields' %}
                                <span class="text-red-500">*</span>
                            </label>
                        </div>
                        <div class="relative">
                            <select
                                id="field_name"
                                name="field_name"
                                multiple
                                required
                                class="w-full js-example-basic-multiple"
                            >
                                {% for field in available_fields %}
                                    <option value="{{ field.name }}">
                                        {{ field.verbose_name }} ({{ field.type }})
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        {% if not available_fields %}
                            <div class="bg-gray-50 text-gray-500 px-3 py-2 rounded text-xs mt-1">
                                {% trans 'No available fields to add as quick filter.' %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="flex justify-end p-5 pt-0 gap-2">
            <button
                type="submit"
                class="text-sm px-4 py-2 bg-primary-600 rounded-md hover:bg-primary-800 transition duration-300 text-[white]"
                {% if not available_fields %}
                    disabled
                {% endif %}
            >
                <span class="flex items-center gap-2">
                    <span id="add-quick-filter-spinner" class="htmx-indicator">
                        <img
                            src="{% static 'assets/icons/spinner.svg' %}"
                            alt="{% trans 'Loading...' %}"
                            width="25"
                        >
                    </span>
                    {% trans "Save" %}
                </span>
            </button>
        </div>
    </form>
</div>
