<div class="flex items-center gap-2 mb-2 condition-row" data-row-id="{{ row_id }}" id="condition-row-{{ row_id }}">
    <div class="grid grid-cols-{{ condition_fields|length }} gap-2 flex-1">
        {% for field_name in condition_fields %}
            <div>
                {% if form and field_name in form.fields %}
                    <div id="id_{{ field_name }}_{{ row_id }}_container">
                        {% if submitted_condition_data and row_id in submitted_condition_data and field_name in submitted_condition_data|get_item_form:row_id %}
                            {% render_field_with_name form field_name row_id submitted_condition_data|get_item_form:row_id|get_item_form:field_name %}
                        {% else %}
                            {% render_field_with_name form field_name row_id %}
                        {% endif %}
                    </div>
                {% else %}
                    <div id="id_{{ field_name }}_{{ row_id }}_container">
                        {% with field_value=submitted_condition_data|get_item_form:row_id|get_item_form:field_name %}
                            <input
                                type="text"
                                name="{{ field_name }}_{{ row_id }}"
                                id="id_{{ field_name }}_{{ row_id }}"
                                class="text-color-820 p-2 placeholder:text-xs pr-[40px] w-full border border-dark-50 rounded-md focus-visible:outline-0 placeholder:text-dark-100 text-sm [transition:.3s] focus:border-primary-600"
                                placeholder="Enter {{ field_name|title }}"
                                value="{{ field_value|default:'' }}"
                            >
                        {% endwith %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <button
        type="button"
        class="remove-condition-row flex items-center justify-center w-6 h-6"
        hx-delete="/generics/remove-condition-row/{{ row_id }}/"
        hx-target="#condition-row-{{ row_id }}"
        hx-swap="outerHTML"
    >
        <img src="{% static 'assets/icons/close-red.svg' %}" alt="{% trans 'Remove' %}" class="w-3 h-3">
    </button>
</div>
