<div class="p-5">
    <div class="flex justify-between items-center mb-4">
        <h2 class="text-md font-semibold">{% trans "Filter" %}</h2>
        <button onclick="closeFilterModal()" class="text-gray-500 hover:text-gray-500 text-xl cursor-pointer">
            <img src="{% static 'assets/icons/close.svg' %}" alt="{% trans 'Close' %}">
        </button>
    </div>
    <form
        hx-get="{{ request.path }}"
        hx-target="#history-main"
        hx-swap="innerHTML"
        hx-trigger="submit"
        hx-select="#history-main"
        class="space-y-4"
        hx-on::after-request="closeFilterModal()"
    >
        {{ form.filter_date.label_tag }}
        {{ form.filter_date }}

        <div class="text-right pt-2">
            <button type="submit" class="bg-primary-600 text-white text-sm px-4 py-2 rounded shadow">
                {% trans "Apply" %}
            </button>
        </div>
    </form>
</div>
