<div class="col" id="operator-container-{{ row_id }}">
    <select
        name="operator"
        class="js-example-basic-single w-full"
        hx-get="{{ search_url }}"
        hx-include="#filter-row-{{ row_id }} select[name='field']"
        hx-vals='{"operator_change": "true", "row_id": "{{ row_id }}"}'
        hx-target="#value-container-{{ row_id }}"
        hx-select="#value-container-{{ row_id }}"
        hx-swap="outerHTML"
        hx-push-url="false"
        hx-trigger="change"
    >
        <option value="">{% trans "Select Operator" %}</option>
        {% for operator in operators %}
            <option value="{{ operator.0 }}">{{ operator.1 }}</option>
        {% endfor %}
    </select>
</div>
