{% include "messages.html" %}
<ul class="probar flex text-sm" id="kanban-choices">
    {% for choice in pipeline_choices %}
        <li class="flex-auto relative {% if can_update %}cursor-pointer{% else %}cursor-not-allowed{% endif %}">
            {% if choice.5 and pipeline_custom_bg_color and pipeline_custom_text_color %}
                {# Custom styling for specific stage (e.g., Closed Won or Closed Lost) #}
                <div
                    class="
                        {% if pipeline_custom_hover_color and can_update %}{{ pipeline_custom_hover_color }}{% endif %} {{ pipeline_custom_bg_color }} {{ pipeline_custom_text_color }} font-bold
                        ps-8 px-3 py-1.5 w-full whitespace-nowrap transition duration-300
                        inline-block px-8 py-2 text-center w-full min-w-[150px] [clip-path:polygon(100%_50%,90%_0%,0%_0%,10%_50%,0%_100%,90%_100%)]
                    "
                    {% if can_update %}
                        {% if choice.4 and final_stage_action %}
                            {% for key, value in final_stage_action.items %}
                                {% if key != "title" %}
                                    {{ key }}="{{ value|safe }}"
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            hx-post="{% url 'generics:update_pipeline' pk=obj.id %}"
                            hx-vals='{"pipeline_update": "true","pipeline_value": "{{ choice.1|escapejs }}","model_name": "{{ model_name|escapejs }}","app_label": "{{ app_label|escapejs }}","pipeline_field": "{{ pipeline_field|escapejs }}"{% if pipeline_split_view %},"layout": "split"{% endif %}}'
                            hx-target="{% firstof pipeline_htmx_target '#kanban-choices' %}"
                            hx-trigger="confirmed"
                            hx-swap="{% firstof pipeline_htmx_swap 'outerHTML' %}"
                            hx-on:click="hxConfirm(this,'Are you sure you want to change the <span class=&quot;text-primary-600&quot;>{{ pipeline_field_verbose_name|escapejs }}</span> to <span class=&quot;text-primary-600&quot;>{{ choice.0|escapejs }}</span> ?');"
                            hx-headers='{"X-CSRFToken": "{{ csrf_token|escapejs }}"}'
                        {% endif %}
                    {% endif %}
                >
                    {% trans choice.0 %}
                </div>
            {% else %}
                {# Default styling #}
                <div
                    class="
                        {% if can_update %}hover:text-white{% endif %} {% if choice.4 %}bg-primary-400 text-primary-600 {% if can_update %}hover:bg-primary-600{% endif %} font-bold
                        {% elif choice.2 %}bg-[#40ce2d2c] text-[#3dcf2a] {% if can_update %}hover:bg-[#62cb54]{% endif %}
                        {% elif choice.3 %}bg-[#3f86e43a] text-[#3f86e4] {% if can_update %}hover:bg-[#528ddb]{% endif %}
                        {% else %}bg-[#F0F0F0] text-[#666] {% if can_update %}hover:bg-[#838181]{% endif %}{% endif %}
                        ps-8 px-3 py-1.5 w-full whitespace-nowrap transition duration-300
                        inline-block px-8 py-2 text-center w-full min-w-[150px] [clip-path:polygon(100%_50%,90%_0%,0%_0%,10%_50%,0%_100%,90%_100%)]
                    "
                    {% if can_update %}
                        {% if choice.4 and final_stage_action %}
                            {% for key, value in final_stage_action.items %}
                                {% if key != "title" %}
                                    {{ key }}="{{ value|safe }}"
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            hx-post="{% url 'generics:update_pipeline' pk=obj.id %}"
                            hx-vals='{"pipeline_update": "true","pipeline_value": "{{ choice.1|escapejs }}","model_name": "{{ model_name|escapejs }}","app_label": "{{ app_label|escapejs }}","pipeline_field": "{{ pipeline_field|escapejs }}"{% if pipeline_split_view %},"layout": "split"{% endif %}}'
                            hx-target="{% firstof pipeline_htmx_target '#kanban-choices' %}"
                            hx-trigger="confirmed"
                            hx-swap="{% firstof pipeline_htmx_swap 'outerHTML' %}"
                            hx-on:click="hxConfirm(this,'Are you sure you want to change the <span class=&quot;text-primary-600&quot;>{{ pipeline_field_verbose_name|escapejs }}</span> to <span class=&quot;text-primary-600&quot;>{{ choice.0|escapejs }}</span> ?');"
                            hx-headers='{"X-CSRFToken": "{{ csrf_token|escapejs }}"}'
                        {% endif %}
                    {% endif %}
                >
                    {% trans choice.0 %}
                </div>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% if pipeline_update %}
    <script>
        $('#reloadButton').click();
    </script>
{% endif %}
