<div class="bg-white rounded-lg shadow p-6 min-w-[500px]">
    <div class="flex justify-between items-center mb-2">
        <h3 class="text-md font-semibold mb-2">{% trans "Soft Delete Confirmation" %}</h3>
    </div>
    {% if not cannot_delete %}
        <p class="text-sm text-gray-600 mb-4">
            {% trans 'Are you sure you want to soft delete the selected' %} {{ model_verbose_name }}?
        </p>
    {% endif %}
    <p class="text-sm text-gray-600 mb-2">
        {% trans "Deletable Records" %} : <strong>{{ can_delete_count }}</strong>
    </p>
    {% if cannot_delete %}
        <p class="text-sm text-gray-600 mb-4">
            {% trans "Protected Records" %}:
        </p>

        <div class="border border-primary-300 rounded-md bg-white mb-3 max-h-[70vh] overflow-y-auto overflow-hidden">
            {% for item in cannot_delete %}
                <div class="border-b border-primary-300">
                    <a
                        class="cursor-pointer flex justify-between items-center w-full px-1 py-3 text-left text-gray-800 font-medium transition gap-2"
                        onclick="toggleAccordion(this)"
                    >
                        <svg
                            class="ms-1 w-7 h-7 transform transition-transform"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M19 9l-4 4-4-4"
                            />
                        </svg>
                        <div class="flex gap-3 w-full font-medium text-sm">
                            {{ item.name }}
                        </div>
                        <div class="mr-3">
                            <form
                                hx-post="{{ search_url }}"
                                hx-target="#deleteBox"
                                hx-swap="innerHTML"
                                hx-push-url="false"
                                hx-on::after-request="openDeleteModal();"
                            >
                                {% csrf_token %}
                                <input type="hidden" name="record_id" value="{{ item.id }}">
                                <input type="hidden" name="action" value="delete_all_dependencies">
                                <input type="hidden" name="delete_type" value="soft">
                                <input type="hidden" name="selected_ids" value="{{ selected_ids_json|safe }}">
                                <button
                                    type="submit"
                                    class="w-24 flex justify-center text-xs rounded-md py-1.5 bg-primary-300 text-primary-600 border border-primary-600 hover:bg-primary-600 hover:text-white transition duration-300"
                                    onclick="event.preventDefault()"
                                    hx-trigger="confirmed"
                                    hx-on:click="hxConfirmForm(this,'{% trans "Are you sure you want to soft delete all dependencies of this record ? " %}');"
                                >
                                    {% trans "Delete All" %}
                                </button>
                            </form>
                        </div>
                    </a>
                    <div class="accordion-content text-sm text-dark-500 transition-all duration-300 overflow-hidden max-h-0">
                        <ul class="px-4 border-t border-primary-300 pt-3">
                            {% for dep in item.dependencies %}
                                <li class="py-1 text-[.85rem] flex justify-between items-center">
                                    <span>{{ dep.model_name }} ({{ dep.count }})</span>
                                    <div class="flex gap-2">
                                        <form
                                            hx-post="{{ search_url }}"
                                            hx-target="#deleteBox"
                                            hx-swap="innerHTML"
                                            hx-push-url="false"
                                            hx-on::after-request="openDeleteModal();"
                                        >
                                            {% csrf_token %}
                                            <input type="hidden" name="record_id" value="{{ item.id }}">
                                            <input type="hidden" name="action" value="delete_item_with_dependencies">
                                            <input type="hidden" name="delete_type" value="soft">
                                            <input type="hidden" name="dep_model_name" value="{{ dep.model_name }}">
                                            <input
                                                type="hidden"
                                                name="selected_ids"
                                                value="{{ selected_ids_json|safe }}"
                                            >
                                            <button
                                                type="submit"
                                                onclick="event.preventDefault()"
                                                hx-trigger="confirmed"
                                                hx-on:click="hxConfirmForm(this,'{% trans "Are you sure you want to soft delete this dependency ? " %}');"
                                            >
                                                <img
                                                    src="{% static 'assets/icons/a4-red.svg' %}"
                                                    alt="{% trans 'Delete' %}"
                                                    width="17"
                                                >
                                            </button>
                                        </form>
                                    </div>
                                </li>
                                {% if dep.records %}
                                    <ul class="list-disc pl-5 mt-1 mb-2 text-sm text-[#333] max-h-40 overflow-y-auto pr-1">
                                        {% for record in dep.records %}
                                            <li class="py-0.5">{{ record }}</li>
                                        {% endfor %}
                                        {% if dep.count > 10 %}
                                            <li
                                                class="flex justify-center items-center py-2"
                                                hx-post="{{ search_url }}"
                                                hx-trigger="intersect once"
                                                hx-swap="outerHTML"
                                                hx-target="this"
                                                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                                                hx-vals='{"action": "load_dep_records", "record_id": "{{ item.id }}", "dep_model_name": "{{ dep.model_name }}", "offset": "10"}'
                                            >
                                                <div class="animate-spin rounded-full h-5 w-5 border-t-2 border-b-2 border-primary-600"></div>
                                            </li>
                                        {% endif %}
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="flex justify-end gap-2">
        <button onclick="closeConfirm(this)" class="text-sm px-6 py-2 bg-[#f11633] rounded-md text-[white]">
            {% trans "Cancel" %}
        </button>
        {% if can_delete %}
            <form
                method="post"
                action="{{ search_url }}"
                hx-post="{{ search_url }}"
                hx-push-url="false"
                hx-on::after-request="closeDeleteModal();closeDeleteModeModal();"
            >
                {% csrf_token %}
                <input type="hidden" name="action" value="bulk_delete">
                <input type="hidden" name="record_ids" value="{{ selected_ids_json|safe }}">
                <input type="hidden" name="confirm_delete" value="true">
                <input type="hidden" name="delete_type" value="soft">
                <input type="hidden" name="view_id" value="{{ view_id|safe }}">

                <button
                    type="submit"
                    class="text-sm px-6 py-2 bg-[#21b442] text-white rounded-md"
                    hx-indicator="#confirm-delete-spinner"
                >
                    <span class="flex items-center gap-2">
                        <span id="confirm-delete-spinner" class="htmx-indicator">
                            <img
                                src="{% static 'assets/icons/spinner.svg' %}"
                                alt="{% trans 'Loading...' %}"
                                width="25"
                            >
                        </span>
                        {% trans "Confirm" %}
                    </span>
                </button>
            </form>
        {% elif not cannot_delete %}
            <button
                class="text-sm px-4 py-2 bg-gray-400 rounded-md text-white cursor-not-allowed"
                disabled
                style="background-color: #9ca3af; color: #ffffff"
            >
                {% trans "No Records to Delete" %}
            </button>
        {% endif %}
    </div>
</div>
