<div class="flex-1" id="up-value-container-{{ row_id }}">
    {% if operator == 'isnull' or operator == 'isnotnull' %}
        <input type="hidden" name="value" value="">
        <span class="text-xs text-color-600">{% trans 'No value needed' %}</span>
    {% elif field_info.type == 'boolean' %}
        <select name="value" class="text-color-600 px-2 py-1.5 w-full border border-dark-50 rounded-md focus-visible:outline-0 text-sm transition duration-300 focus:border-primary-600 bg-white">
            <option value="">-</option>
            <option value="True">{% trans 'Yes' %}</option>
            <option value="False">{% trans 'No' %}</option>
        </select>
    {% elif field_info.type == 'choice' %}
        <select name="value" class="text-color-600 px-2 py-1.5 w-full border border-dark-50 rounded-md focus-visible:outline-0 text-sm transition duration-300 focus:border-primary-600 bg-white">
            <option value="">{% trans 'Select' %}</option>
            {% for choice in field_info.choices %}
                <option value="{{ choice.value }}">{{ choice.label }}</option>
            {% endfor %}
        </select>
    {% elif field_info.type == 'foreignkey' %}
        <select
            name="value"
            class="select2-pagination w-full"
            data-url="{% url 'generics:model_select2' app_label field_info.model|lower %}"
            data-field-name="{{ field_info.name }}"
        >
            <option value="">{% trans 'Select an option' %}</option>
        </select>
    {% elif field_info.type == 'date' %}
        <input
            type="date"
            name="value"
            class="text-color-600 px-2 py-1.5 w-full border border-dark-50 rounded-md focus-visible:outline-0 text-sm transition duration-300 focus:border-primary-600"
        >
    {% elif field_info.type == 'datetime' %}
        <input
            type="datetime-local"
            name="value"
            class="text-color-600 px-2 py-1.5 w-full border border-dark-50 rounded-md focus-visible:outline-0 text-sm transition duration-300 focus:border-primary-600"
        >
    {% elif operator == 'between' %}
        <div class="flex gap-1">
            <input type="text" name="start_value" placeholder="{% trans 'From' %}"
                class="text-color-600 px-2 py-1.5 w-full border border-dark-50 rounded-md focus-visible:outline-0 placeholder:text-dark-100 placeholder:text-xs text-sm transition duration-300 focus:border-primary-600">
            <input type="text" name="end_value" placeholder="{% trans 'To' %}"
                class="text-color-600 px-2 py-1.5 w-full border border-dark-50 rounded-md focus-visible:outline-0 placeholder:text-dark-100 placeholder:text-xs text-sm transition duration-300 focus:border-primary-600">
        </div>
    {% else %}
        <input
            type="text"
            name="value"
            class="text-color-600 px-2 py-1.5 placeholder:text-xs w-full border border-dark-50 rounded-md focus-visible:outline-0 placeholder:text-dark-100 text-sm transition duration-300 focus:border-primary-600"
            placeholder="{% trans 'Value' %}"
        >
    {% endif %}
</div>
