{% extends "index.html" %}
{% block content %}
    <div class="modelcontent">
        {% include "components/sub_sidebar.html" %}
        {% has_perm "opportunities.view_opportunity" as can_view_forecast %}
        {% has_perm "opportunities.view_own_opportunity" as can_view_own_forecast %}
        {% if can_view_forecast or can_view_own_forecast %}
            <div id="mainContent" class="flex-[1_0] leftspace transition-all duration-300 ease-in-out pt-0">
                <!-- Load navbar dynamically -->
                <div
                    id="forecast-navbar"
                    hx-get="{% url 'forecast:forecast_navbar_view' %}?{{ request.GET.urlencode }}"
                    hx-trigger="load"
                >
                </div>

                <div class="p-5 pt-24">
                    <div class="relative h-[calc(_100vh_-_200px_)] [box-shadow:0px_0px_20px_0px_rgb(0_0_0_/_5%)] p-4 pb-0 bg-white rounded-md">
                        {% if request.active_company %}
                            {% if type_count > 0 %}
                                <div
                                    id="forecast-tab-content"
                                    hx-get="{% url 'forecast:forecast_tab_view' %}?{{ request.GET.urlencode }}"
                                    hx-trigger="load"
                                >
                                </div>
                            {% else %}
                                <div class="flex justify-between items-center h-20"></div>
                                <img
                                    src="{% static 'assets/img/not-found.svg' %}"
                                    alt="404"
                                    class="w-60 m-auto mb-4 mt-5"
                                >
                                <p class="text-sm text-center mb-3">
                                    {% trans 'No Forecast Type set. Set it from settings.' %}
                                </p>
                                {% has_perm "forecast.add_forecastytpe"  as add_forcasttype %}
                                {% if  add_forcasttype %}
                                    <button
                                        onclick="window.location.href='crm/forecast/forecast-type-view/'"
                                        class="text-sm px-4 py-2 bg-primary-600 rounded-md hover:bg-primary-800 transition duration-300 text-[white] m-auto flex"
                                    >
                                        {% trans "Go To Forecast Type" %}
                                    </button>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <div class="flex justify-between items-center h-20"></div>
                            <img
                                src="{% static 'assets/img/activate-company.svg' %}"
                                alt="{% trans 'Activate company' %}"
                                class="w-60 m-auto mb-4 mt-5"
                            >
                            <p class="text-sm text-center mb-3">
                                {% trans "Please create or activate your company." %}
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="flex-[1_0] leftspace transition-all duration-300 ease-in-out">
                <div class="h-full w-full min-h-full flex flex-col box-border p-4">
                    <div class="bg-white rounded-xl [box-shadow:0px_0px_20px_0px_rgb(0_0_0_/_5%)] w-full max-w-full box-border flex-1 min-h-0 flex items-center justify-center p-5">
                        <div class="error-container flex flex-col items-center justify-center text-center w-full max-w-full">
                            <img
                                src="{% static 'assets/img/403.png' %}"
                                alt="403"
                                width="300"
                                class="max-w-full h-auto flex justify-center m-auto"
                            >
                            <h2 class="error-title">{% trans "Permission Denied" %}</h2>
                            <p class="error-description pb-3">{% trans "You do not have permission to view this page." %}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}
