{% if show_mail_template %}
    <div id="mail_template_container" class="flex flex-col" hx-swap-oob="outerHTML">
        <div class="flex justify-between items-center mb-1">
            <div class="flex justify-between mb-1 w-full">
                <label for="id_mail_template" class="text-xs text-color-600">
                    {{ mail_template_label }} <span class="text-red-500">*</span>
                </label>
            </div>
        </div>
        <div class="relative">
            <select name="mail_template" id="id_mail_template" required class="js-example-basic-single headselect">
                <option value="">---------</option>
                {% for template in mail_templates %}
                    <option
                        value="{{ template.pk }}"
                        {% if template.pk == mail_template_id %}
                            selected="selected"
                        {% endif %}
                    >
                        {{ template.title }}
                    </option>
                {% endfor %}
            </select>
        </div>
        {% if mail_template_errors %}
            <div class="bg-red-50 text-red-500 px-3 py-2 rounded text-xs mt-1">
                {% for error in mail_template_errors %}{{ error }}{% if not forloop.last %}<br>{% endif %}{% endfor %}
            </div>
        {% endif %}
    </div>
{% else %}
    <div id="mail_template_container" style="display: none" hx-swap-oob="outerHTML"></div>
{% endif %}
{% if show_notification_template %}
    <div id="notification_template_container" class="flex flex-col" hx-swap-oob="outerHTML">
        <div class="flex justify-between items-center mb-1">
            <div class="flex justify-between mb-1 w-full">
                <label for="id_notification_template" class="text-xs text-color-600">
                    {{ notification_template_label }} <span class="text-red-500">*</span>
                </label>
            </div>
        </div>
        <div class="relative">
            <select
                name="notification_template"
                id="id_notification_template"
                required
                class="js-example-basic-single headselect"
            >
                <option value="">---------</option>
                {% for template in notification_templates %}
                    <option
                        value="{{ template.pk }}"
                        {% if template.pk == notification_template_id %}
                            selected="selected"
                        {% endif %}
                    >
                        {{ template.title }}
                    </option>
                {% endfor %}
            </select>
        </div>
        {% if notification_template_errors %}
            <div class="bg-red-50 text-red-500 px-3 py-2 rounded text-xs mt-1">
                {% for error in notification_template_errors %}{{ error }}{% if not forloop.last %}<br>{% endif %}{% endfor %}
            </div>
        {% endif %}
    </div>
{% else %}
    <div id="notification_template_container" style="display: none" hx-swap-oob="outerHTML"></div>
{% endif %}
{% if show_mail_server %}
    <div id="mail_server_container" class="flex flex-col" hx-swap-oob="outerHTML">
        <div class="flex justify-between items-center mb-1">
            <div class="flex justify-between mb-1 w-full">
                <label for="id_mail_server" class="text-xs text-color-600">
                    {{ mail_server_label }} <span class="text-red-500">*</span>
                </label>
            </div>
        </div>
        <div class="relative">
            <select name="mail_server" id="id_mail_server" required class="js-example-basic-single headselect">
                <option value="">---------</option>
                {% for server in mail_servers %}
                    <option value="{{ server.pk }}" {% if server.pk == mail_server_id %}selected="selected"{% endif %}>
                        {{ server }}
                    </option>
                {% endfor %}
            </select>
        </div>
        {% if mail_server_errors %}
            <div class="bg-red-50 text-red-500 px-3 py-2 rounded text-xs mt-1">
                {% for error in mail_server_errors %}{{ error }}{% if not forloop.last %}<br>{% endif %}{% endfor %}
            </div>
        {% endif %}
    </div>
{% else %}
    <div id="mail_server_container" style="display: none" hx-swap-oob="outerHTML"></div>
{% endif %}
