{% extends "login.html" %}
{% block login %}
    <div id="initialize-sec" class="bg-white p-[20px] rounded-md shadow sec1 w-[900px]">
        <div class="flex justify-between items-center p-5">
            <h2 class="text-lg font-semibold">{% trans "Initialize Database" %}</h2>
        </div>
        <div class="p-5 py-0">
            <ul class="progress">
                {% for step in progress_steps %}
                    <li {% if step.active %}class="active"{% endif %}>
                        <div class="sec {% if forloop.counter0 > 0 %}flex flex-col {% if forloop.last %}items-end{% else %}items-center{% endif %}{% endif %}">
                            <span
                                class="bg-[#e54f38] h-[30px] w-[30px] flex items-center justify-center rounded-[50px] text-[white]"
                            >
                                {{ step.step }}
                            </span>
                            <p class="text-[.8rem] mb-0">{% trans step.title %}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="p-5">
            <h2 class="text-lg font-semibold">{% trans "Database Authentication" %}</h2>
            <p class="mb-5 text-sm text-color-600">
                {% trans "Authenticate with your password intialize the Database" %}
            </p>
            <form
                id="initialize-form"
                hx-post="{% url 'core:initialize_database_user' %}"
                hx-target="#initialize-sec"
                hx-swap="outerHTML"
                hx-push-url="true"
                hx-select="#initialize-user"
            >
                {% csrf_token %}

                <label class="text-sm text-color-600">{% trans "Password" %}</label>
                <div class="relative">
                    <input
                        id="db-password-input"
                        name="db_password"
                        type="password"
                        value="{{ password }}"
                        placeholder="{% trans 'Database authentication password' %}"
                        class="text-color-600 p-2 placeholder:text-xs font-normal pr-[40px] w-full border border-dark-50 rounded-md mt-1 focus-visible:outline-0 placeholder:text-dark-100 text-sm [transition:.3s] focus:border-primary-600"
                    >
                    <button
                        type="button"
                        id="toggle-password-btn"
                        class="absolute right-3 top-0 bottom-0 m-auto cursor-pointer"
                    >
                        <img
                            id="eyeIcon"
                            src="{% static 'assets/icons/eye.svg' %}"
                            alt="{% trans 'Toggle visibility' %}"
                            class="hidden"
                        >
                        <img
                            id="eyeHideIcon"
                            src="{% static 'assets/icons/eye-hide.svg' %}"
                            width="21"
                            alt="{% trans 'Toggle visibility' %}"
                        >
                    </button>
                </div>
                {% if error %}
                    <p class="text-red-500 text-sm mb-3">{{ error }}</p>
                {% endif %}
                <div class="flex justify-between pt-5">
                    <button
                        type="button"
                        hx-get="{% url 'core:login' %}"
                        hx-target="#initialize-sec"
                        hx-select="#sec1"
                        hx-swap="outerHTML"
                        class="text-sm text-primary-600 hover:underline"
                    >
                        {% trans "Back to Login" %}
                    </button>

                    <button
                        type="submit"
                        class="border-[1px] border-[solid] border-[#e54f38] hover:border-[#9b210f] hover:bg-secondary-600 rounded-[5px] px-[15px] py-[8px] text-[#e54f38] flex gap-3 btn-with-icon border-[#e54f38] [transition:.3s] hover:text-[white]"
                    >
                        {% trans "Authenticate" %}
                        <img src="{% static 'assets/icons/ar3.svg' %}" alt="{% trans 'Arrow' %}">
                    </button>
                </div>
            </form>
        </div>
        <script>
            document.body.addEventListener('click', function(e) {
              if (e.target.closest('#toggle-password-btn')) {
                const passwordInput = document.getElementById('db-password-input');
                const eyeIcon = document.getElementById('eyeIcon');
                const eyeHideIcon = document.getElementById('eyeHideIcon');

                if (passwordInput.type === 'password') {
                  passwordInput.type = 'text';
                  eyeIcon.classList.remove('hidden');
                  eyeHideIcon.classList.add('hidden');
                } else {
                  passwordInput.type = 'password';
                  eyeIcon.classList.add('hidden');
                  eyeHideIcon.classList.remove('hidden');
                }
              }
            });
        </script>
    </div>
{% endblock login %}
