{% get_user_model_meta as user_meta %}
<form
    hx-post="{% url 'leads:convert_lead' pk=lead.pk %}?{{request.GET.urlencode}}"
    hx-target="#contentModalBox"
    hx-swap="innerHTML"
>
    {% csrf_token %}
    <div id="sec1" class="sec1">
        <div class="flex justify-between items-center p-5 pb-0">
            <h2 class="text-lg font-semibold">{% trans 'Lead Conversion' %}</h2>
            <button
                type="button"
                onclick="closeContentModal()"
                class="text-gray-500 hover:text-red-500 text-xl cursor-pointer"
            >
                <img src="{% static 'assets/icons/close.svg' %}" alt="{% trans 'Close' %}">
            </button>
        </div>

        <div class="p-5">
            {% if form.non_field_errors %}
                <div class="bg-red-50 text-red-500 px-4 py-3 rounded-lg text-sm mb-4">
                    {% for error in form.non_field_errors %}
                        {{ error }}<br>
                    {% endfor %}
                </div>
            {% endif %}
            <h3 class="text-sm text-color-600 mb-2 font-semibold">{% trans 'Account' %}</h3>
            <div class="radio-group flex gap-6 mb-3">
                <label class="flex items-center gap-2">
                    <input
                        hidden
                        type="radio"
                        name="account_action"
                        value="create_new"
                        {% if account_action == 'create_new' %}
                            checked
                        {% endif %}
                        hx-get="{% url 'leads:convert_lead' pk=lead.pk %}?account_action=create_new"
                        hx-target="#account-field"
                        hx-swap="innerHTML"
                        hx-include="#id_existing_account"
                    >
                    <span class="custom-radio"></span>
                    <span>{% trans 'Create New' %}</span>
                </label>
                <label class="flex items-center gap-2">
                    <input
                        hidden
                        type="radio"
                        name="account_action"
                        value="select_existing"
                        {% if account_action == 'select_existing' %}
                            checked
                        {% endif %}
                        hx-get="{% url 'leads:convert_lead' pk=lead.pk %}?account_action=select_existing"
                        hx-target="#account-field"
                        hx-swap="innerHTML"
                        hx-include="#id_existing_account"
                    >
                    <span class="custom-radio"></span>
                    <span>{% trans 'Select Existing' %}</span>
                </label>
            </div>
            <div id="account-field">
                {% include 'lead_convert_account.html' %}
            </div>

            <h3 class="text-sm text-color-600 mb-2 font-semibold">{% trans 'Contact' %}</h3>
            <div class="radio-group flex gap-6 mb-3">
                <label class="flex items-center gap-2">
                    <input
                        hidden
                        type="radio"
                        name="contact_action"
                        value="create_new"
                        {% if contact_action == 'create_new' %}
                            checked
                        {% endif %}
                        hx-get="{% url 'leads:convert_lead' pk=lead.pk %}?contact_action=create_new"
                        hx-target="#contact-field"
                        hx-swap="innerHTML"
                    >
                    <span class="custom-radio"></span>
                    <span>{% trans 'Create New' %}</span>
                </label>
                <label class="flex items-center gap-2">
                    <input
                        hidden
                        type="radio"
                        name="contact_action"
                        value="select_existing"
                        {% if contact_action == 'select_existing' %}
                            checked
                        {% endif %}
                        hx-get="{% url 'leads:convert_lead' pk=lead.pk %}?contact_action=select_existing"
                        hx-target="#contact-field"
                        hx-swap="innerHTML"
                    >
                    <span class="custom-radio"></span>
                    <span>{% trans 'Select Existing' %}</span>
                </label>
            </div>
            <div id="contact-field">
                {% include 'lead_convert_contact.html' %}
            </div>

            <h3 class="text-sm text-color-600 mb-2 font-semibold">{% trans 'Opportunity' %}</h3>
            <div id="opportunity_action_button" class="radio-group flex gap-6 mb-3">
                <label class="flex items-center gap-2">
                    <input
                        hidden
                        type="radio"
                        name="opportunity_action"
                        value="create_new"
                        {% if opportunity_action == 'create_new' %}
                            checked
                        {% endif %}
                        hx-get="{% url 'leads:convert_lead' pk=lead.pk %}?opportunity_action=create_new"
                        hx-target="#opportunity-field"
                        hx-swap="innerHTML"
                    >
                    <span class="custom-radio"></span>
                    <span>{% trans 'Create New' %}</span>
                </label>
                <label class="flex items-center gap-2">
                    <input
                        hidden
                        type="radio"
                        name="opportunity_action"
                        value="select_existing"
                        {% if opportunity_action == 'select_existing' %}
                            checked
                        {% endif %}
                        hx-get="{% url 'leads:convert_lead' pk=lead.pk %}?opportunity_action=select_existing"
                        hx-target="#opportunity-field"
                        hx-swap="innerHTML"
                        {% if not account_action == 'create_new' %}
                            hx-include="#id_existing_account"
                        {% endif %}
                    >
                    <span class="custom-radio"></span>
                    <span>{% trans 'Select Existing' %}</span>
                </label>
            </div>
            <div id="opportunity-field">
                {% include 'lead_convert_opportunity.html' %}
            </div>

            <div class="flex flex-col mb-3">
                <label for="" class="text-xs text-color-600 mb-2"> {% trans 'Owner' %}</label>
                <select
                    name="owner"
                    class="select2-pagination w-full text-sm"
                    data-url="{% url 'generics:model_select2' app_label=user_meta.app_label  model_name=user_meta.model_class_name %}"
                    data-placeholder="{% trans 'Select owner' %}"
                    data-field-name="owner"
                >
                    {% for value, label in form.fields.owner.choices %}
                        <option value="{{ value }}" {% if value == form.owner.value %}selected{% endif %}>
                            {{ label }}
                        </option>
                    {% endfor %}
                </select>
                {% if form.owner.errors %}
                    <div class="bg-red-50 text-red-500 px-3 py-2 rounded-lg text-sm mb-4 mt-2">
                        {{ form.owner.errors.0 }}
                    </div>
                {% endif %}
            </div>
            <div class="flex justify-end p-5 pr-0">
                <button
                    type="submit"
                    class="text-sm px-4 py-2 bg-primary-600 rounded-md hover:bg-primary-800 transition duration-300 text-[white]"
                >
                    {% trans 'Convert' %}
                </button>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        $("select").on("select2:select", function (e) {
            $(this).closest("select")[0].dispatchEvent(new Event("change"));
        });
    });

    document.addEventListener('htmx:afterSettle', function(event) {
             initializeSelect2Pagination();
    });
</script>
