<div id="sec1" class="sec1">
    {% include "messages.html" %}
    <div class="flex justify-end items-center p-5 pb-0">
        <button
            onclick="closeContentModal();$('#reloadButton').click()"
            class="text-gray-500 hover:text-red-500 text-xl cursor-pointer"
        >
            <img src="{% static 'assets/icons/close.svg' %}" alt="{% trans 'Close' %}">
        </button>
    </div>

    <div class="p-5">
        <img src="{% static 'assets/img/tick.png' %}" alt="{% trans 'Success' %}" width="150" class="m-auto mb-2">
        <h2 class="text-2xl font-semibold text-center mb-5">{% trans 'Your lead has been converted' %}</h2>

        <div class="grid grid-cols-12 gap-4">
            <div class="col-span-4">
                <h5 class="text-md ps-3 font-semibold mb-1">{% trans 'Account' %}</h5>
                <div class="border border-[#dfdfdf] rounded-md p-3 min-h-[225px]">
                    <div class="flex gap-2 items-center mb-3">
                        <span><img
                                src="{% static 'assets/icons/company.svg' %}"
                                alt="{% trans 'Comapny' %}"
                                width="30"
                            ></span>
                        <h5
                            class="font-medium hover:text-primary-600 cursor-pointer"
                            hx-get="{% url 'accounts:account_detail_view' account.pk %}?section=people"
                            hx-target="#mainContent"
                            hx-swap="outerHTML"
                            hx-push-url="true"
                            hx-on:click="closeContentModal();"
                            hx-select="#mainContent"
                        >
                            {{ account.name }}
                        </h5>
                    </div>

                    <p class="text-sm pb-3">
                        {{ account|verbose_name:'annual_revenue' }} : {{ account.annual_revenue|default:"" }}
                    </p>
                    <p class="text-sm pb-3">{{ account|verbose_name:'phone' }} : {{ account.phone|default:"" }}</p>
                    <p class="text-sm pb-3">
                        {{ account|verbose_name:'industry' }} : {{ account.industry|default:"" }}
                    </p>
                    <p class="text-sm pb-3">
                        {{ account|verbose_name:'account_owner' }} : <span
                            class="font-medium"
                        >{{ account.account_owner|default:"" }}</span>
                    </p>
                </div>
            </div>

            <div class="col-span-4">
                <h5 class="text-md ps-3 font-semibold mb-1">{% trans 'Contact' %}</h5>
                <div class="border border-[#dfdfdf] rounded-md p-3 min-h-[225px]">
                    <div class="flex gap-2 items-center mb-3">
                        <span><img
                                src="{% static 'assets/icons/userdata.svg' %}"
                                alt="{% trans 'User' %}"
                                width="30"
                            ></span>
                        <h5
                            class="font-medium hover:text-primary-600 cursor-pointer"
                            hx-get="{% url 'contacts:contact_detail_view' contact.pk %}?section=people"
                            hx-target="#mainContent"
                            hx-swap="outerHTML"
                            hx-push-url="true"
                            hx-on:click="closeContentModal();"
                            hx-select="#mainContent"
                        >
                            {{ contact.first_name }} {{ contact.last_name }}
                        </h5>
                    </div>

                    <p class="text-sm pb-3">
                        {{ contact|verbose_name:'last_name' }} : <span
                            class="font-medium"
                        >{{ contact.last_name|default:"" }}</span>
                    </p>
                    <p class="text-sm pb-3">
                        {{ contact|verbose_name:'email' }} : <span class="font-medium">{{ contact.email }}</span>
                    </p>
                    <p class="text-sm pb-3">{{ contact|verbose_name:'phone' }} : {{ contact.phone|default:"" }}</p>
                    <p class="text-sm pb-3">
                        {{ contact|verbose_name:'contact_owner' }} : <span
                            class="font-medium"
                        >{{ contact.contact_owner|default:"" }}</span>
                    </p>
                </div>
            </div>

            <div class="col-span-4">
                <h5 class="text-md ps-3 font-semibold mb-1">{% trans 'Opportunity' %}</h5>
                <div class="border border-[#dfdfdf] rounded-md p-3 min-h-[225px]">
                    <div class="flex gap-2 items-center mb-3">
                        <span><img
                                src="{% static 'assets/icons/crown.svg' %}"
                                alt="{% trans 'crown' %}"
                                width="30"
                            ></span>
                        <h5
                            class="font-medium hover:text-primary-600 cursor-pointer"
                            hx-get="{% url 'opportunities:opportunity_detail_view' opportunity.pk %}?section=sales"
                            hx-target="#mainContent"
                            hx-swap="outerHTML"
                            hx-push-url="true"
                            hx-on:click="closeContentModal();"
                            hx-select="#mainContent"
                        >
                            {{ opportunity.name }}
                        </h5>
                    </div>

                    <p class="text-sm pb-3">
                        {{ opportunity|verbose_name:'account' }} : <span
                            class="font-medium"
                        >{{ opportunity.account }}</span>
                    </p>
                    <p class="text-sm pb-3">
                        {{ opportunity|verbose_name:'close_date' }}: <span
                            class="font-medium"
                        >{{ opportunity.close_date|date:"d/m/Y"|default:"" }}</span>
                    </p>
                    <p class="text-sm pb-3">
                        {{ opportunity|verbose_name:'stage' }} : {{ opportunity.stage|default:"" }}
                    </p>
                    <p class="text-sm">
                        {{ opportunity|verbose_name:'owner' }} : <span
                            class="font-medium"
                        >{{ opportunity.owner|default:"" }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="flex justify-end gap-2 p-5">
        <button
            hx-get="{% url 'leads:leads_view' %}?section=sales"
            hx-target="#mainContent"
            hx-swap="outerHTML"
            hx-select="#mainContent"
            hx-push-url="true"
            hx-on::after-request="closeContentModal()"
            class="text-sm px-4 py-2 bg-primary-600 rounded-md hover:bg-primary-800 transition duration-300 text-[white]"
        >
            {% trans "Go to Leads" %}
        </button>
    </div>
</div>
<script>
    (function() {
      function handleEscape(e) {
        if (e.key === 'Escape' || e.keyCode === 27) {
          document.removeEventListener('keydown', handleEscape);
          e.preventDefault();
          e.stopImmediatePropagation();
          closeContentModal();
          $('#reloadButton').click();
        }
      }
      document.addEventListener('keydown', handleEscape);
    })();
</script>
