{% extends "settings/settings.html" %}
{% block settings %}
    {% get_user_model_meta as user_meta %}

    {% has_perm user_meta.app_label|add:".view_"|add:user_meta.model_name as can_view_user %}

    {% if can_view_user %}
        <div id="users-view">
            <div id="navBar" hx-get="{{ nav_url}}?{{request.GET.urlencode}}" hx-trigger="load"></div>
            <div
                id="mainSession"
                hx-get="{% if request.GET.layout == 'kanban' %}{{ kanban_url }}?{{ request.GET.urlencode}}{% if filter_form %}&hx_trigger={{filter_form}}{% endif %}{% elif request.GET.layout == 'group_by' and group_by_url %}{{ group_by_url }}?{{ request.GET.urlencode}}{% if filter_form %}&hx_trigger={{filter_form}}{% endif %}{% elif not list_url and kanban_url %}{{ kanban_url }}?{{ request.GET.urlencode}}{% if filter_form %}&hx_trigger={{filter_form}}{% endif %}{% else %}{{ list_url }}?{{ request.GET.urlencode}}{% if filter_form %}&hx_trigger={{filter_form}}{% endif %}{% endif %}"
                hx-trigger="load"
                hx-indicator="#loading-indicator"
            >
                <div
                    id="loading-indicator"
                    class="htmx-indicator"
                    style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: flex; align-items: center; justify-content: center"
                >
                    <div class="flex justify-center items-center p-4">
                        <div class="animate-spin rounded-full h-8 w-8 border-t-2 border-b-2 border-primary-600"></div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% include "403.html" with embed=True %}
    {% endif %}
{% endblock %}
