{% extends "error.html" %}
{% block content %}
    <img
        src='{% static "assets/img/500.svg" %}'
        alt="500"
        width="500"
        class="max-w-full h-auto flex justify-center m-auto pb-10"
    >
    <h2 class="error-title">{% trans "Server Error" %} (500)</h2>
    <p class="error-description pb-3">
        {% trans "There’s been an error. It’s been reported to the site administrators via email and should be fixed shortly. Thanks for your patience." %}
    </p>
{% endblock %}
