{% extends "settings/my_settings.html" %}
{% block my_settings %}
    <div id="opportunity-team-view">
        {% include "messages.html" %}
        <button
            id="reloadButton"
            hidden
            hx-get="{{ request.path }}?{{request.GET.urlencode}}"
            hx-target="#opportunity-team-view"
            hx-trigger="click"
            hx-swap="outerHTML"
            hx-select="#opportunity-team-view"
        >
            click
        </button>
        <div id="navBar" hx-get="{{ nav_url}}?{{request.GET.urlencode}}&obj={{current_obj.pk}}" hx-trigger="load"></div>
        <div
            id="mainSession"
            class="pt-2"
            hx-get="{{ list_url }}?{{request.GET.urlencode}}&obj={{current_obj.pk}}"
            hx-trigger="load"
        >
        </div>
    </div>
{% endblock %}
