{% if show_location %}
<div id="location_container" class="flex flex-col">
    <div class="flex justify-between items-center mb-1">
        <label for="id_location" class="text-xs text-color-600 flex-1 min-w-0">
            {% trans "Location" %}
        </label>
    </div>
    <div class="relative">
        <input type="text"
               id="id_location"
               name="location"
               value="{{ location_value }}"
               placeholder="{% trans 'Enter meeting location' %}"
               class="text-color-600 p-2 placeholder:text-xs pr-[40px] w-full border border-dark-50 rounded-md mt-1 focus-visible:outline-0 placeholder:text-dark-100 text-sm [transition:.3s] focus:border-primary-600">
    </div>
</div>
{% else %}
<div id="location_container" style="display:none">
    <input type="hidden" name="location" value="{{ location_value }}">
</div>
{% endif %}
