{% has_perm "core.change_multiplecurrency" as change_currency %}
{% has_perm "core.change_company" as change_company %}

{# Determine if checkbox should be disabled #}
{% if instance.is_default and total_currencies == 1 or not change_currency or not change_company %}
    {% with is_disabled=True %}
        <input
            type="checkbox"
            id="currency-list-{{ instance.id }}"
            name="is_default-{{ instance.id }}"
            class="w-4 h-4 bg-[#E9EDF7] rounded-sm accent-[#e54f38] opacity-50 cursor-not-allowed"
            {% if instance.is_default %}
                checked
            {% endif %}
            disabled
        >
    {% endwith %}
{% else %}
    <input
        type="checkbox"
        id="currency-list-{{ instance.id }}"
        name="is_default-{{ instance.id }}"
        class="w-4 h-4 bg-[#E9EDF7] rounded-sm accent-[#e54f38]"
        {% if instance.is_default %}
            checked
        {% endif %}
        value="{{ instance.id }}"
        hx-post="{% url 'core:change_default_currency' instance.id %}"
        hx-trigger="confirmed"
        hx-target="#currency-list-{{ instance.id }}"
        hx-swap="innerHTML"
        hx-on:click="hxConfirm(this, 'Are you sure you want to change the default currency? The previous default will be unset.')"
    >
{% endif %}
