{% if widget.kind == "select" %}
    <select
        id="action-popup-value"
        class="js-example-basic-single headselect text-color-600 p-2 placeholder:text-xs pr-[40px] w-full border border-dark-50 rounded-md focus-visible:outline-0 placeholder:text-dark-100 text-sm [transition:.3s] focus:border-primary-600"
    >
        <option value="">{% trans "Select value" %}</option>
        {% for c in widget.choices %}
            <option value="{{ c.value }}">{{ c.label }}</option>
        {% endfor %}
    </select>
{% else %}
    <input
        id="action-popup-value"
        type="{{ widget.input_type|default:'text' }}"
        class="text-color-600 p-2 placeholder:text-xs pr-[40px] w-full border border-dark-50 rounded-md focus-visible:outline-0 placeholder:text-dark-100 text-sm [transition:.3s] focus:border-primary-600"
    >
{% endif %}
