<div class="flex rounded-md overflow-hidden">
    {% has_perm "dashboard.change_dashboard" as can_change_dashboard %}
    {% if can_change_dashboard  or instance.dashboard_owner == request.user %}
        <button
            class="w-10 h-7 bg-dark-25 flex-1 flex justify-center border-r border-r-[white] hover:bg-dark-50 transition duration-300 items-center"
            hx-get="{% url 'dashboard:dashboard_update' instance.id %}?{{ request.GET.urlencode}}"
            hx-target="#modalBox"
            hx-swap="innerHTML"
            onclick="openModal()"
        >
            <img src="{% static 'assets/icons/edit.svg' %}" alt="{% trans 'Edit' %}" width="17" class="w-4 h-4">
        </button>
        <button
            class="w-10 h-7 bg-dark-25 flex-1 flex justify-center border-r border-r-[white] hover:bg-dark-50 transition duration-300 items-center"
            hx-get="{% url 'dashboard:move_dashboard_to_folder' instance.id %}?{{ request.GET.urlencode}}"
            hx-target="#modalBox"
            hx-swap="innerHTML"
            onclick="openModal()"
        >
            <img src="{% static 'assets/icons/a2.svg' %}" alt="{% trans 'Change Owner' %}" width="21" class="w-4 h-4">
        </button>
    {% endif %}
    {% has_perm "dashboard.delete_dashboard" as can_delete_dashboard %}
    {% if can_delete_dashboard %}
        <button
            class="w-10 h-7 bg-dark-25 flex-1 flex justify-center border-r border-r-[white] hover:bg-dark-50 transition duration-300 items-center"
            hx-post="{% url 'dashboard:dashboard_delete' instance.id %}?{{ request.GET.urlencode}}"
            hx-target="#deleteModeBox"
            hx-swap="innerHTML"
            onclick="openDeleteModeModal()"
            hx-vals='{"check_dependencies": "true"}'
        >
            <img src="{% static 'assets/icons/a4.svg' %}" alt="{% trans 'Delete' %}" width="17" class="w-4 h-4">
        </button>
    {% endif %}
</div>
