{% extends "components/modelcontent_layout.html" %}
{% block messages %}{% endblock %}

{% block navbar %}
    <div
        hx-get="{% url 'reports:reports_nav_view' %}?{{ request.GET.urlencode}}&title={{title}}"
        hx-trigger="load"
    >
    </div>
{% endblock navbar %}

{% block main %}
    <nav class="p-5 pt-20" aria-label="breadcrumb">
        <ol class="flex items-center text-sm">
            {% for breadcrumb in breadcrumbs %}
                <li class="flex items-center">
                    {% if breadcrumb.url %}
                        <a
                            href="{{ breadcrumb.url }}"
                            class="text-primary-600 hover:text-primary-800"
                            hx-get="{{ breadcrumb.url }}"
                            hx-target="#mainContent"
                            hx-swap="outerHTML"
                            hx-select="#mainContent"
                            hx-push-url="true"
                        >
                            {{ breadcrumb.name }}
                        </a>
                    {% else %}
                        <span class="text-gray-500">{{ breadcrumb.name }}</span>
                    {% endif %}
                    {% if not forloop.last %}
                        <span class="mx-2">></span>
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    </nav>
    <div class="pl-5 pr-5">
        <div class="grid grid-cols-6 xl:grid-cols-12 gap-4">
            <div class="col-span-6 xl:col-span-10">
                <div id="mainSession">{% include "list_view.html" %}</div>
            </div>
            <div class="col-span-6 xl:col-span-2">
                <div class="[box-shadow:0px_0px_20px_0px_rgb(0_0_0_/_5%)] bg-white rounded-lg ps-0 p-3 h-[calc(100vh_-_210px)]">
                    <h3 class="text-sm mb-1 font-semibold ps-3">{% trans "Dashboards" %}</h3>
                    <ul>
                        <li>
                            <a
                                href=""
                                class="ps-3 flex items-center text-sm py-1 rounded-md transition duration-300 hover:text-primary-600 relative before:content[''] before:absolute before:left-0 before:inset-0 before:w-1 before:h-full before:bg-primary-600 before:opacity-0 hover:before:opacity-100"
                                hx-get="{% url 'dashboard:dashboard_list_view' %}?{{ request.GET.urlencode}}"
                                hx-swap="outerHTML"
                                hx-trigger="click"
                                hx-target="#mainContent"
                                hx-select="#mainContent"
                                hx-push-url="true"
                            >
                                {% trans "All Dashboards" %}
                            </a>
                        </li>
                    </ul>
                    <h3 class="text-sm mb-1 font-semibold mt-3 ps-3">{% trans "Folders" %}</h3>
                    <ul>
                        <li>
                            <a
                                href=""
                                class="ps-3 flex items-center text-sm py-1 rounded-md hover:text-primary-600 transition duration-300 hover:text-primary-600 relative before:content[''] before:absolute before:left-0 before:inset-0 before:w-1 before:h-full before:bg-primary-600 before:opacity-0 hover:before:opacity-100"
                                hx-get="{% url 'dashboard:dashboard_folder_list_view' %}?{{ request.GET.urlencode}}"
                                hx-swap="outerHTML"
                                hx-trigger="click"
                                hx-target="#mainContent"
                                hx-select="#mainContent"
                                hx-push-url="true"
                            >
                                {% trans "All Folders" %}
                            </a>
                        </li>
                    </ul>
                    <h3 class="text-sm mb-1 font-semibold mt-3 ps-3">{% trans "Favourites" %}</h3>
                    <ul>
                        <li>
                            <a
                                href=""
                                class="ps-3 flex items-center text-sm py-1 rounded-md text-primary-600 hover:text-primary-600 transition duration-300 hover:text-primary-600 relative before:content[''] before:absolute before:left-0 before:inset-0 before:w-1 before:h-full before:bg-primary-600 before:opacity-1 hover:before:opacity-100"
                                hx-get="{% url 'dashboard:folder_favourite_list_view' %}?{{ request.GET.urlencode}}"
                                hx-trigger="click"
                                hx-target="#mainContent"
                                hx-select="#mainContent"
                                hx-swap="outerHTML"
                                hx-push-url="true"
                            >
                                {% trans "Folders" %}
                            </a>
                        </li>
                        <li>
                            <a
                                href=""
                                class="ps-3 flex items-center text-sm py-1 rounded-md hover:text-primary-600 transition duration-300 hover:text-primary-600 relative before:content[''] before:absolute before:left-0 before:inset-0 before:w-1 before:h-full before:bg-primary-600 before:opacity-0 hover:before:opacity-100"
                                hx-get="{% url 'dashboard:dashboard_favourite_list_view' %}?{{ request.GET.urlencode}}"
                                hx-trigger="click"
                                hx-target="#mainContent"
                                hx-select="#mainContent"
                                hx-swap="outerHTML"
                                hx-push-url="true"
                            >
                                {% trans "Dashboards" %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
