<div class="flex rounded-md overflow-hidden">
    {% has_perm "dashboard.change_dashboardfolder" as can_change_folder %}
    {% if can_change_folder  or instance.folder_owner == request.user %}
        <button
            class="w-10 h-7 bg-dark-25 flex-1 flex justify-center border-r border-r-[white] hover:bg-dark-50 transition duration-300 items-center"
            hx-post="{% url 'dashboard:dashboard_folder_favourite' instance.id %}?{{ request.GET.urlencode}}"
            hx-swap="outerHTML"
            hx-trigger="click"
        >
            <i
                class="fa-solid fa-star {% if instance in request.user.favourite_folders.all %}text-primary-600{% endif %}"
            ></i>
        </button>
        <button
            class="w-10 h-7 bg-dark-25 flex-1 flex justify-center border-r border-r-[white] hover:bg-dark-50 transition duration-300 items-center"
            hx-get="{% url 'dashboard:dashboard_folder_update' instance.id %}?{{ request.GET.urlencode}}"
            hx-target="#modalBox"
            hx-swap="innerHTML"
            onclick="openModal()"
        >
            <img src="{% static 'assets/icons/edit.svg' %}" alt="{% trans 'Edit' %}" width="17">
        </button>
    {% endif %}
    {% has_perm "dashboard.delete_dashboardfolder" as can_delete_folder %}
    {% if can_delete_folder %}
        <button
            class="w-10 h-7 bg-dark-25 flex-1 flex justify-center border-r border-r-[white] hover:bg-dark-50 transition duration-300 items-center"
            hx-post="{% url 'dashboard:dashboard_folder_delete' instance.id %}?{{ request.GET.urlencode}}"
            hx-target="#deleteModeBox"
            hx-swap="innerHTML"
            onclick="openDeleteModeModal()"
            hx-vals='{"check_dependencies": "true"}'
        >
            <img src="{% static 'assets/icons/a4.svg' %}" alt="{% trans 'Delete' %}" width="17">
        </button>
    {% endif %}
</div>
