<style>
    .htmx-indicator {
        display: none;
        pointer-events: none;
    }
    .htmx-request .htmx-indicator {
        display: flex !important;
        pointer-events: auto;
    }
    .htmx-request.htmx-indicator {
        display: flex !important;
        pointer-events: auto;
    }
</style>

{% csrf_token %}
{% if filter_set_class %}
    {% include "filterpanel.html" %}
{% endif %}
<div id="{{ view_id|safe }}" class="custom-scroll overflow-hidden overflow-x-auto" style="position: relative">
    <div
        id="loading-indicator"
        class="htmx-indicator"
        style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 9999; display: none; align-items: center; justify-content: center; background-color: rgba(255, 255, 255, 0.8); pointer-events: none"
    >
        <div class="flex justify-center items-center p-4">
            <div class="animate-spin rounded-full h-8 w-8 border-t-2 border-b-2 border-primary-600"></div>
        </div>
    </div>

    <button
        id="reloadButton"
        hidden
        hx-get="{{ request.path }}?{{request.GET.urlencode}}"
        hx-target="#kanbanview"
        hx-trigger="click"
        hx-swap="outerHTML"
        hx-select="#kanbanview"
        hx-indicator="#loading-indicator"
    >
        click
    </button>

    {% if error %}
        <div class="p-4 mb-4 text-sm text-red-600 bg-red-50 rounded-lg text-center">
            {{ error }}
        </div>
    {% elif queryset %}
        <div
            id="kanbanview"
            data-app-label="{{ app_label }}"
            data-model-name="{{ model_name }}"
            data-csrf-token="{{ csrf_token }}"
            data-allow-column-reorder="{% if allow_column_reorder %}true{% else %}false{% endif %}"
            data-class-name="{{ class_name }}"
        >
            <div id="kanbancontainer" class="relative flex gap-4">
                {% include "partials/kanban_blocks.html" %}
            </div>
            <div id="reloadMessages">
                {% include "messages.html" %}
            </div>
        </div>
    {% else %}
        <div class="flex justify-between items-center {% if table_width %} h-20 {% endif %}"></div>
        <img
            src="{% static 'assets/img/not-found.svg' %}"
            alt="404"
            class="w-60 m-auto mb-4 mt-5"
        >
        <p class="text-sm text-center mb-3">
            {% if no_record_add_button.message %}
                {{ no_record_add_button.message }}
            {% else %}
                {% trans "Nothing to show yet. Please add your" %} {{ model_verbose_name }}.
            {% endif %}
        </p>
        {% if no_record_add_button.url %}
            <button
                hx-get="{{ no_record_add_button.url }}"
                hx-target="{{ no_record_add_button.target|default:'#modalBox' }}"
                hx-swap="{{ no_record_add_button.swap|default:'innerHTML' }}"
                onclick="{{ no_record_add_button.onclick|default:'openModal()' }}"
                class="{{ no_record_add_button.class|default:'text-sm px-4 py-2 bg-primary-600 rounded-md hover:bg-primary-800 transition duration-300 text-[white] m-auto flex' }}"
                {% if no_record_add_button.attrs %}
                    {{ no_record_add_button.attrs|safe }}
                {% endif %}
            >
                {{ no_record_add_button.title|default:_("Add New") }}
            </button>
        {% endif %}
    {% endif %}
</div>
<script>
    $(function() {
        var viewId = '{{ view_id|safe }}';
        var $kanbanContainer = $('#' + viewId );
        if ($kanbanContainer.length) {
            $kanbanContainer.css('willChange', 'transform');
        }
    });
    $(document).ready(function () {
        $("select").on("select2:select", function (e) {
            $(this).closest("select")[0].dispatchEvent(new Event("change"));
        });
    });
</script>
