<form
    hx-post="{% url 'generics:create_kanban_group' %}?{% if request.GET.exclude_fields %}exclude_fields={{ request.GET.exclude_fields }}&{% endif %}{% if request.GET.include_fields %}include_fields={{ request.GET.include_fields }}&{% endif %}{% if group_by_view_type %}view_type={{ group_by_view_type }}{% endif %}"
    hx-target="#modalBox"
    hx-swap="innerHTML"
>
    {% csrf_token %}

    <div class="relative bg-white rounded-lg shadow-sm">
        <div class="p-5">
            <div class="flex justify-between items-center">
                <h2 class="text-md font-semibold">{{ settings_title|default:_("Kanban Settings") }}</h2>
                <button
                    type="button"
                    onclick="closeModal()"
                    class="text-gray-500 hover:text-red-500 text-xl cursor-pointer"
                >
                    <img src="{% static 'assets/icons/close.svg' %}" alt="{% trans 'Close' %}">
                </button>
            </div>
            {{ form.model_name }}
            {{ form.app_label }}
            {{ form.view_type }}
            <div class="mt-4">
                <label for="" class="text-xs text-color-600">{{ form.field_name.label_tag }}</label>
                <div>
                    <select
                        class="js-example-basic-single w-full"
                        name="{{ form.field_name.name }}"
                        id="{{ form.field_name.auto_id }}"
                    >
                        <option value="">---------</option>
                        {% for value, label in form.fields.field_name.choices %}
                            <option value="{{ value }}" {% if value == form.field_name.value %}selected{% endif %}>
                                {{ label }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                {% if form.errors %}
                    <div class="text-red-500 text-sm mb-2">
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="flex justify-end p-5">
            <button
                type="submit"
                class="text-sm px-4 py-2 bg-primary-600 rounded-md hover:bg-primary-800 transition duration-300 text-[white]"
            >
                {% trans "Save" %}
            </button>
        </div>
    </div>
</form>
