<button
    id="detailViewReloadButton"
    hidden
    hx-get="{{ request.path }}?{{request.GET.urlencode}}"
    hx-target="#detailViewContainer"
    hx-swap="outerHTML"
    hx-select="#detailViewContainer"
>
    click
</button>
<div class="modal-box mx-5 bg-white w-full max-w-md md:min-w-[700px] rounded-lg p-0 transition-all duration-300 opacity-100 scale-100">
    <div class="p-5 pl-2" id="detailViewContainer">
        <!-- Modal Header -->
        <div class="flex justify-between items-center mb-2">
            <h2 class="text-md font-semibold" id="genericModalLabel">{{ title }}</h2>
            <button onclick="closeDetailModal()" class="text-gray-500 hover:text-red-500 text-xl cursor-pointer">
                <img src="{% static 'assets/icons/close.svg' %}" alt="{% trans 'Close' %}">
            </button>
        </div>

        <!-- Profile Header -->
        {% if header %}
            <a class="flex items-center gap-5 mb-5 no-underline min-w-0" {{ header.attrs|format:object|safe }}>
                {% if header.avatar %}
                    <div class="w-[50px] h-[50px] rounded-full overflow-hidden">
                        <img src="{{ object|get_field:header.avatar }}" class="w-full h-full object-cover">
                    </div>
                {% endif %}
                <div class="min-w-0 flex-1">
                    <p class="mb-1 text-sm font-semibold truncate" title="{{ object|get_field:header.title }}">
                        {{ object|get_field:header.title }}
                    </p>
                    <p class="text-xs text-[#666] truncate" title="{{ object|get_field:header.subtitle }}">
                        {{ object|get_field:header.subtitle }}
                    </p>
                </div>
            </a>
        {% endif %}

        <!-- Body Fields -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-3 mb-5 mt-5">
            {% for col in body %}
                {% if not col.2 %}
                    <div class="mb-2 flex items-start text-xs">
                        <span class="font-medium text-[#565E6C] w-32 shrink-0">{{ col.0 }}</span>
                        <span class="font-semibold w-4 shrink-0 text-center">:</span>
                        <p class="font-semibold flex-1 break-words">{{ object|get_field:col.1|escape }}</p>
                    </div>
                {% else %}
                    {{ object|get_field:col.1|escape }}
                {% endif %}
            {% endfor %}
        </div>

        <!-- Attachments -->
        <div class="m-3" id="enlargeattachmentContainer"></div>

        <!-- Action Buttons & Navigation -->
        <div class="flex flex-wrap justify-between gap-2 md:gap-1">
            <!-- Actions -->
            {% if actions or action_method %}
                <div class="flex gap-1">
                    {% if actions and not action_method %}
                        {% for action in actions %}
                            <a
                                {{ action.attrs|format:object|safe }}
                                class="flex items-center gap-2 text-sm font-medium text-blue-600 hover:text-blue-800 whitespace-nowrap"
                            >
                                {% if action.src %}
                                    {% if 'svg-themed' in action.img_class %}
                                        {% themed_icon action.src action.img_class action.image_style %}
                                    {% else %}
                                        <img
                                            src="{% static action.src %}"
                                            alt="{{ action.action }}"
                                            class="{{ action.img_class }}"
                                            style="{{ action.image_style }}"
                                        >
                                    {% endif %}
                                {% else %}
                                    <ion-icon name="{{ action.icon }}"></ion-icon>
                                {% endif %}

                                {{ action.action }}
                            </a>
                        {% endfor %}
                    {% else %}
                        {{ object|get_field:action_method|escape }}
                    {% endif %}
                </div>
            {% endif %}

            <!-- Prev/Next Buttons -->
            {% if instance_ids %}
                <div class="flex gap-1 ml-auto">
                    <button
                        data-action="previous"
                        hx-get="{{ previous_url }}?{{ ids_key }}={{ instance_id }}&{{ request.GET.urlencode }}"
                        hx-on:click="$('#detailViewContainer').toggleClass('animate-pulse');"
                        hx-target="#detailModalBox"
                        class="p-2 w-8 h-8 justify-center bg-primary-600 text-white rounded-full text-xs flex items-center gap-2 hover:bg-primary-800 transition duration-300"
                    >
                        <i class="fa-solid fa-angle-left"></i>
                    </button>
                    <button
                        data-action="next"
                        hx-get="{{ next_url }}?{{ ids_key }}={{ instance_id }}&{{ request.GET.urlencode }}"
                        hx-on:click="$('#detailViewContainer').toggleClass('animate-pulse');"
                        hx-target="#detailModalBox"
                        class="p-2 w-8 h-8 justify-center bg-primary-600 text-white rounded-full text-xs flex items-center gap-2 hover:bg-primary-800 transition duration-300"
                    >
                        <i class="fa-solid fa-angle-right"></i>
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
</div>
